/* Footer */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
footer.nb-footer {
    background: #222;
     }
    footer.nb-footer .about 
    {
    margin: 0 auto;
    
    max-width: 1170px;
    text-align: center;
 }
    footer.nb-footer .about p 
    {
    font-size: 13px;
    color: #999;
    margin-top: 10px; 
    
}
   .social-media 
    {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.social-media ul li a 
    {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 50%;
    font-size: 16px;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.3);
 }
    .social-media ul li a:hover 
    {
    background: #fff;
    color: #000;
}
    footer.nb-footer .footer-info-single 
    {
    margin-top: 30px; 
}
    footer.nb-footer .footer-info-single .title
     {
    color: #aaa;
    text-transform: uppercase;
    font-size: 16px;
    border-left: 4px solid #fff;
    padding-left: 5px; 
}
    footer.nb-footer .footer-info-single ul li a
     {
    display: block;
    color: #aaa;
    padding: 2px 0;
    width: fit-content;

 }
    footer.nb-footer .footer-info-single ul li a:hover 
    {
    color: #fff; 
    text-decoration: underline;
}
    footer.nb-footer .footer-info-single p 
    {
    font-size: 13px;
    line-height: 20px;
    color: #aaa;
 }
    footer.nb-footer .copyright {
    margin-top: 15px;
    background: #111;
    padding: 7px 0;
    color: #999;
 }
    footer.nb-footer .copyright p 
    {
    margin: 0;
    padding: 0;
 }
.footerlasttext{
    color: #fff;
}
.footerlasttext:hover{
    text-decoration: underline;
}
